.nav{
    float:right;
    
   height: 3vw;
   padding: 1vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: sticky;
}
.logo{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
    margin-left: 1vw;
    width:90%;
    display: flex;
    gap:1vw;
}
.options{
    
    display: flex;
width:80%;

justify-content: end;
align-items: center;


}
.btn{
    width:12vw;
    text-transform: uppercase;
    background-color:white;
    padding: 0.5vw;
   border: none;
    border-radius: 9%;

font-family: sans-serif;

}
.gaccount{
    margin-right: -25px;
    width:20%;
    clip-path: circle();
    background-color: blue;
    padding: 0.5vw 0;
    color: white;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode{
    display: flex;
    gap: 14.4px;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    position: relative;
    background-color: rgb(58, 58, 58);
    transition: all 1.5s;
}
#m1{
    font-size: 26px;
    margin-right: 0px;
    color: white;
}
#m2{
    font-size: 26px;
    margin-right: 0px;
    color: white;
}
.scroll{
    width:25px;
    height: 25px;
    position: absolute;
    top: 0.1px;
    left: 2.1px;
    clip-path: circle();
    background-color:white;
    transition: transform 1s;
    transition: background-color color 2s;
    color: white;
    

}

