.act{
    box-sizing: border-box;
  
    background-color:#f2f5f8;
    display: flex;
    flex-direction: column;
}
.up1{
height: 20%;

display: flex;
flex-direction: column;
justify-content: space-between;
}
.mid1{
height: 60%;

padding: 1em;
}
.foot1{

}
.lst{

padding: 1vw;

}
.NC{
    margin: 1em;
   border: 1px solid black;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.NC:hover{
    background-color:#e9ecf1;
}


