
.SearchBox{
    margin-top: 0.7em;
    width: 80%;
    display: flex;
   
    position: absolute;
    top: 83vh;
    justify-content: center;
    align-items: center;
}
.me{
    width:70%;
    margin:auto;
    background-color:rgba(240,244,249,255);
  
    font-size: 1.1em;
    border-radius: 35px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5em;
}
.me input{
    width:70%;
    background-color:rgba(240,244,249,255);
    padding: 1em;
    font-size: 1.1em;
    border-radius: 35px;
    border: none;
}
.SearchBoxi:focus{
   
  outline: none;
}
.icons{
    display: flex;
}
.material-symbols-outlined{
    font-size: 1.6em;
    margin-right:  18px;

}
.me:hover{
    .SearchBoxi{
        background-color:#e9ecf1;
    }
    background-color:#e9ecf1;
}
.display{
    width:30vw;
    height:10vw;
    border: 2px solid black;
    font-size: 8vw;
    color: black;
}
.display li{
    
}
.ics{
   color:  rgb(58, 58, 58);
}
@media only screen and (max-width: 735px) {
    .me{
        width:90%;
    }
.ics{
    font-size: 5vw;
    margin: 1.1vw;
}
.SearchBox{
    width: 98%;
}
}